<form action="/admin/signos/novo" method="post">
    <label for="signo">Signo:</label>
    <select name="signo" id="signo">
        <option value="null" selected disabled>Escolha o signo</option>
    </select>

</form>