<header class="cabecalho">
    <a href="/"><img class="logo" src="images/logo-placeholder.png"></a>
    <nav class="cabecalho-nav">
            <a href="#"><img class="nav-icon" src="images/icons/o-email.png" alt=""></a>
            <a href="#"><img class="nav-icon" src="images/icons/facebook.png" alt=""></a>
            <a href="#"><img class="nav-icon" src="images/icons/instagram.png" alt=""></a>
            <a href="#"><img class="nav-icon" src="images/icons/twitter.png" alt=""></a>
            <a href="#"><img class="nav-icon" src="images/icons/youtube.png" alt=""></a>
            <a href="#"><img class="nav-icon" src="images/icons/lupa.png" alt=""></a>
    </nav>
    </header>