<header class="navbar">
    <div class="navbar-container">
        <a href="/admin"><img class="logo" src="/images/eusigno-adminlogo.png"></a>
        <div class="navbar-admintools">
            <ul>
                <li><a href="/admin/posts/diario">Postagem Diaria</a></li>
                <li><a href="/admin/posts/semanal">Postagem Semanal</a></li>
                <li><a href="/admin/posts/mensal">Postagem Mensal</a></li>
                <li><a href="/admin/posts/blog">Postagem no Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-more">
        <ul>
            <li><a href="/pt/logout">Logout</a></li>
        </ul>
    </div>
</header>