<footer class="rodape">
    <nav class="rodape-nav">
        <div class="rodape-info">
            <a href="#">Sobre</a>
            <a href="#">Termos</a>
            <a href="#">Privacidade</a>
            <a href="#">Contato</a>
            <a href="/">Horóscopo do dia</a>
        </div>
    </nav>
        <div class="rodape-copyright"><p> Copyright 2023 - Eusigno © - Todos os direitos reservados YG GLOBAL - 47.509.854/0001-61</p></div>
</footer>