<style>
    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    * {
        text-align: center;
    }

    h1{
        color: dimgray;
        font-size: 100pt;
    }

</style>
<hidden id="formatar" style="display: none;">{{signo}}</hidden>
<main>
    <h1>404</h1>
    <h2>Ops, essa página não foi encontrada.</h2>
    <br>
    <h3>A página pode ter sido deletada, movida ou não existe.</h3>
</main>