 <main class="principal"> 
        <div class="signos-container">
            <ul>
                <li>
                    <a href="/pt/signos/aries"><img src="images/signos/aries.png" alt="aries"><p>Áries</p><small>Mar 21 - Abr 19</small></a>
                </li>
                <li>
                    <a href="/pt/signos/touro"><img src="images/signos/touro.png" alt="touro"><p>Touro</p><small>Abr 20 - Mai 20</small>
                    </a>
                </li>
                <li>
                    <a href="/pt/signos/gemeos"><img src="images/signos/gemeos.png" alt="gemeos"><p>Gêmeos</p><small>Mai 21 - Jun 20</small></a>
                </li>
                <li>
                    <a href="/pt/signos/cancer"><img src="images/signos/cancer.png" alt="cancer">
                        <p>Câncer</p>
                        <small>Jun 21 - Jul 22</small>
                    </a>
                </li>
                <li>
                    <a href="/pt/signos/leao"><img src="images/signos/leao.png" alt="leao"><p>Leão</p><small>Jul 23 - Ago 22</small></a>
                </li>
                <li>
                    <a href="/pt/signos/virgem"><img src="images/signos/virgem.png" alt="virgem"><p>Virgem</p><small>Ago 23 - Set 22</small></a>
                </li>
                <li>
                    <a href="/pt/signos/libra"><img src="images/signos/libra.png" alt="libra"><p>Libra</p><small>Set 23 - Out 22</small></a>
                </li>
                <li>
                    <a href="/pt/signos/escorpiao"><img src="images/signos/escorpiao.png" alt="escorpiao"><p>Escorpião</p><small>Out 23 - Nov 21</small></a>
                </li>
                <li>
                    <a href="/pt/signos/sagitario"><img src="images/signos/sagitario.png" alt="sagitario"><p>Sagitário</p><small>Nov 22 - Dez 21</small></a>
                </li>
                <li>
                    <a href="/pt/signos/capricornio"><img src="images/signos/capricornio.png" alt="capricornio"><p>Capricórnio</p><small>Dez 22 - Jan 19</small></a>
                </li>
                <li>
                    <a href="/pt/signos/aquario"><img src="images/signos/aquario.png" alt="aquario"><p>Aquário</p><small>Jan 20 - Fev 18</small></a>
                </li>
                <li>
                    <a href="/pt/signos/peixes"><img src="images/signos/peixes.png" alt="peixes"><p>Peixes</p><small>Fev 19 - Mar 20</small></a>
                </li>
            </ul>
        </div>
    </main>
    