@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Maven Pro", 'Courier New', Courier, monospace;
    background-color: #F5F5F5;
}

.body-content{
    flex: 1 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 50px 20px #cfcfcf;
    -webkit-box-shadow: 0 0 50px 20px #cfcfcf;
    box-shadow: 0 0 50px 20px #cfcfcf;
} 

.logo { 
    width: 15rem;
    margin: 1rem;
}

.cabecalho-nav a img{
    width: 1.2em;
}

.nav-icon{
    align-self: baseline;
    margin: 0 5px;
    width: 1rem;
}

.principal h1{
    text-align: center;

}

.signos-container {
    display: flex;
    justify-content: center;
}

.signos-container ul{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.signos-container li{
    list-style: none;
    padding: 10px 20px;
}

.signos-container li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.signos-container li img{
    width: 7.5rem;
    transition: 0.5s;
}

.signos-container li img:hover{
    transform: scale(1.15)
}

.signo-principal{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

#signo, .data{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to left, #45A2E1 90%, #7C50F5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin: 5px;
}

.data{
    margin: 1rem
}

.marea-container{
    max-width: 600px;
    padding: 1rem;
    width: 100%;
}

.marea-container2{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.marea-escolhadata{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-radius: 20px;
    background-color: #CCCCCC;
}

.marea-escolhadata div a{
    padding: 0.3em 5px;
    color: #101010;
    text-decoration: none;
    transition: 0.5s;
}

.marea-escolhadata i::after{
    content: '';
    border-left: 1px solid #676767;
    margin-right: 5px;
}

.marea-escolhadata div:nth-child(1) a:nth-child(1){
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
}

.marea-escolhadata div:nth-child(2) a:nth-child(3){
    border-radius: 0 20px 20px 0;
    padding-right: 10px;
}


.marea-escolhadata div a:hover{
    background-color: #a8a8a8;
}

.marea-text{
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    min-height: 250px;
    box-shadow: 0px 0px 25px 0px #858585;
    -moz-box-shadow: 0px 0px 25px 0px #858585;
    -webkit-box-shadow: 0px 0px 25px 0px #858585;
    overflow-wrap: break-word;

}

.marea-classificacoes, .marea-estrelas{
    width: 20rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 16px 16px 5px 5px ;
    box-shadow: 0px 0px 25px 0px #858585;
    -moz-box-shadow: 0px 0px 25px 0px #858585;
    -webkit-box-shadow: 0px 0px 25px 0px #858585;
}

.combinacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.combinacao img{
    width: 5rem;
    margin-bottom: 5px;
}

.combinacao p{
    text-align: center;
}

.combinacao h4, .marea-estrelas h4{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to left, #45A2E1, #7C50F5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin: 5px;
}

.marea-classificacoes h3, .marea-estrelas h3{
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: normal;
    background-image: linear-gradient(to right, #45A2E1, #7C50F5);
    color: #fff;
    border-radius: 12px 12px 0 0 ;

}

.marea-classificacoes-signos{
    display: flex;
    justify-content: space-evenly;
}

.marea-estrelas > div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.marea-estrelas > div > div{
    display: flex;
    justify-content: space-around;
}

.rodape{
    text-align: center;
    width: 100vw;
}

.rodape-nav {
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 3px black;
    -moz-box-shadow: 0px 0px 3px black;;
    -webkit-box-shadow: 0px 0px 3px black;
    background-color: #101010;
}

.rodape-info a{
    padding: 0 20px;
    font-size: 16pt;
    text-decoration: none;
    color: #fff;
}

.rodape-copyright{
    padding: 0.5em;
    background-color: #E6E6E6;

}

.fa{
    color: #CCC
}

@media screen and (max-width: 600px)
{

    .signos-container ul{
        max-width: 450px;
        min-width: 320px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .signos-container li{
        list-style: none;
        padding: 10px;
    }
    .signos-container li img{
        width: 6.5rem;
    }
    .signos-container li img:hover{
        width: 7.5rem;
    }

    .rodape-nav{
        height: 5em;
    }

}